<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
        <ol class="breadcrumb">
          <li><a [routerLink]="['/']">SDO - Home</a></li>
          <li>Materiais</li>
        </ol>
        <form #form="ngForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="glyphicon glyphicon-bed"></i> Cadastrar Materiais
              </h2>
            </div>
          </div>                

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Informações Gerais:</p>
            </div>
            <div class="col-sm-3 col-xs-6">
              <label>Equipamento:</label>
              <mt-input-container errorMessage="Campo obrigatório" label="Equipamento">
                <input class="form-control" name="equipamento" ngModel required placeholder="Equipamento" autocomplete="off">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <label>Fornecedor:</label>
              <mt-input-container errorMessage="Campo obrigatório" label="Fornecedor">
                <select type="text" class="form-control" name="fornecedor" required ngModel placeholder="Fornecedor" autocomplete="off">
                  <option >Casa do Compressores</option>
                  <option >Casa do Eletricista</option>
                  <option >Cada das Correas</option>
                  <option >CNN</option>
                  <option >Difal</option>
                </select>
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
                <label>Descricao:</label>
                <mt-input-container errorMessage="Campo obrigatório" label="Descricao">
                    <input type="text" class="form-control" name="descricao" required ngModel placeholder="Descrição">
                </mt-input-container>
            </div>
           
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row 
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            
          </div>-->
          
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <!--p class="lead">Formas de Pagamento:</p-->

                <div class="form-group">
                  
                </div>

            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <!-- Se precisar implementar component colocar aqui -->
            </div>
            <!-- /.col -->
          </div>

        </form>

        <div class="row">
          <div class="pull-right">
            <button (click)="form.reset()" type="button" class="btn btn-danger">
              <i class="fa fa-trash"></i> Limpar</button>
            <button (click)="checkOrder(form.value)" class="btn btn-success">
              <i class="glyphicon glyphicon-save"></i> Cadastrar
            </button>
          </div>
        </div>

    </section>
</section>
<!-- FIM DO CONTEUDO-->