<div class="table-responsive">
    <table class="table">
        <tbody>
            <tr>
                <th style="width:50%">Percentual/Hora:</th>
                <td class="text-right">% {{porcentHora}}</td>
            </tr>
            <tr>
                <th>Valor/Obra:</th>
                <td class="text-right">{{valorObraHora | currency: 'BRL': true}}</td>
            </tr>
            <tr>
                <th>Valor do Acréscimo:</th>
                <td class="text-right">{{AcrescimoPerc() | currency: 'BRL': true}}</td>
            </tr>
            <tr>
                <th>Valor total da Obra:</th>
                <td class="text-right">{{total() | currency: 'BRL': true}}</td>
            </tr>
        </tbody>
    </table>
</div>