  <!-- Início do header -->
  <header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a [routerLink]="['/']" class="navbar-brand"><b>SDO</b></a>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
        </div>
  
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          <ul class="nav navbar-nav">
              <li routerLinkActive="active"><a [routerLink]="['/obra']">
                <span class="glyphicon glyphicon-wrench"></span>Obra</a>
              </li> 
              <li routerLinkActive="active"><a [routerLink]="['/materiais']">
                <span class="glyphicon glyphicon-retweet"></span>Materiais</a>
              </li>           
              <li routerLinkActive="active"><a [routerLink]="['/usuario']">
                <span class="glyphicon glyphicon-lock"></span>Usuário</a>
              </li>
              <li routerLinkActive="active"><a [routerLink]="['/avanco']">
                <span class="glyphicon glyphicon-dashboard"></span>Avanço de Obras</a>
              </li>
              <li routerLinkActive="active"><a [routerLink]="['/funcionario']">
                <span class="glyphicon glyphicon-user"></span>Funcionário</a>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      <span routerLinkActive="active" class="glyphicon glyphicon-cog"></span>Manutenção
                      <span class="caret"></span>
                          <ul class="dropdown-menu">
                              <li routerLinkActive="active">
                                  <a [routerLink]="['/obra']"><span class="glyphicon glyphicon-pencil"></span> Obras</a>
                              </li>
                          </ul>
                  </a>
              </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->

        <mt-user-detail></mt-user-detail>
  
      </div>
    </nav>
    </header>
    <!-- Fim do header -->
  