<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
      <ol class="breadcrumb">
          <li><a [routerLink]="['/']">SDO - Home</a></li>
          <li>Obra</li>
        </ol>
        <form #form="ngForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="glyphicon glyphicon-hourglass"></i> Cadastrar Obras
              </h2>
            </div>
          </div>                

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Informações Gerais:</p>
            </div>
            <div class="col-sm-3 col-xs-6">
              <label>Número da Obra:</label>
              <mt-input-container errorMessage="Campo obrigatório, somente números" label="Obra">
                <input class="form-control" name="obra" pattern="^[0-9]*$" maxlength="4" ngModel required placeholder="Obra" autocomplete="off">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <label>SubObra:</label>
              <mt-input-container errorMessage="Campo obrigatório" label="SubObra">
                <select type="text" class="form-control" name="subobra" required ngModel placeholder="SubObra" autocomplete="off">
                  <option >EAD01</option>
                  <option >RST54</option>
                  <option >ASF09</option>
                  <option >EAH09</option>
                </select>
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
                <label>Inicio da Obra:</label>
                <mt-input-container errorMessage="Campo obrigatório" label="inicioObra">
                    <input type="date" class="form-control" name="inicioObra" required ngModel placeholder="Inicio da obra">
                </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
                <label>Fim da Obra:</label>
                <mt-input-container errorMessage="Campo obrigatório" label="fimObra">
                    <input type="date" class="form-control" name="fimObra" required ngModel placeholder="Final da Obra">
                </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
                <label>Detalhe da Obra:</label>
                <mt-input-container errorMessage="Campo obrigatório" label="detalheObra">
                    <input type="text" class="form-control" name="detalheObra" required ngModel placeholder="Detalhe da Obra">
                </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
                <label>Funcionário:</label>
                <mt-input-container errorMessage="Campo obrigatório" label="funcionario">
                    <select type="text" class="form-control" name="funcionario" required ngModel placeholder="Funcionário">
                      <option>Marcos de Souza</option>
                      <option>Marcia Gomes</option>
                      <option>Gaby Ruis</option>
                      <option>Matheus Ruis</option>
                      <option>Marcos Ruis</option>
                      <option>Micaely Ruis</option>
                      <option>Robervald Sidrome</option>
                    </select>
                </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
                <label>Função:</label>
                <mt-input-container label="funcao">
                    <input disabled="true" type="text" class="form-control" name="funcao" ngModel placeholder="Soldador Pleno">
                </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
                <label>Porcentagem/Hora:</label>
                <mt-input-container errorMessage="Campo obrigatório" label="porcentHora">
                    <input type="text" class="form-control" name="porcentHora" pattern="^[0-9]*$" maxlength="3" required ngModel placeholder="Porcentagem/Hora">
                </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
                <label>Valor Obra/Hora:</label>
                
                <mt-input-container errorMessage="Campo obrigatório, somente números" label="valorObraHora">
                    <input type="text" class="form-control" name="valorObraHora" pattern="^[0-9]*$" maxlength="10" required ngModel placeholder="Valor da obra por hora">
                </mt-input-container>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row 
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            
          </div>-->
          
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <!--p class="lead">Formas de Pagamento:</p-->

                <div class="form-group">
                  
                </div>

            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <p class="lead">Orçamento Obra:</p>

               <mt-obra-custo
               [porcentHora]="porcentHora"
               [valorObraHora]="valorObraHora"></mt-obra-custo>
              
            </div>
            <!-- /.col -->
          </div>

        </form>

        <div class="row">
          <div class="pull-right">
              <button  (click)="form.reset()" type="button" class="btn btn-danger">
               <i class="fa fa-trash"></i> Limpar</button>
              <button (click)="checkOrder(form.value)" class="btn btn-success" >
               <i class="glyphicon glyphicon-save"></i> Cadastrar
            </button>
          </div>
        </div>

    </section>
</section>
<!-- FIM DO CONTEUDO-->