<!--INICIO DO CONTEUDO-->
<section class="content-header">
</section>

<section class="content">
  <section class="invoice">
        <ol class="breadcrumb">
          <li><a [routerLink]="['/']">SDO - Home</a></li>
          <li>Usuário</li>
        </ol>
        <form #form="ngForm" novalidate>
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="glyphicon glyphicon-retweet"></i> Cadastrar Usuário
              </h2>
            </div>
          </div>                

          <div class="row invoice-info">
            <div class="col-xs-12">
              <p class="lead">Informações Gerais:</p>
            </div>
            <div class="col-sm-3 col-xs-6">
              <label>Email:</label>
              <mt-input-container errorMessage="Campo obrigatório" label="Email">
                <input class="form-control" type="email" name="email" [(ngModel)]="user.email" required placeholder="Email" autocomplete="off">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
              <label>Nome:</label>
              <mt-input-container errorMessage="Campo obrigatório" label="FirstName">
                <input class="form-control" name="firstName" [(ngModel)]="user.firstName" required placeholder="Primeiro Nome">
              </mt-input-container>
            </div>
            <div class="col-sm-3 col-xs-6">
                <label>Sobrenome:</label>
                <mt-input-container errorMessage="Campo obrigatório" label="LastName">
                    <input  class="form-control" name="lastName" [(ngModel)]="user.lastName"  required placeholder="Sobrenome">
                </mt-input-container>
            </div>
           
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row 
          <div class="row">
            <div class="col-xs-12">
              <p class="lead">Itens do Pedido:</p>
            </div>
            
          </div>-->
          
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-sm-6 col-xs-12">
              <!--p class="lead">Formas de Pagamento:</p-->

                <div class="form-group">
                  
                </div>

            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
              <!-- Se precisar implementar component colocar aqui -->
            </div>
            <!-- /.col -->
          </div>

        </form>

        <div class="row">
          <div class="pull-right">
            <button (click)="form.reset()" type="button" class="btn btn-danger">
              <i class="fa fa-trash"></i> Limpar</button>
            <button (click)="createUser()" class="btn btn-success">
              <i class="glyphicon glyphicon-saved"></i> Cadastrar
            </button>
            <button [routerLink]="['/list']" class="btn btn-warning">
              <i class="glyphicon glyphicon-list-alt"></i> Listar
            </button>
          </div>
        </div>

    </section>
</section>
<!-- FIM DO CONTEUDO--><!--INICIO DO CONTEUDO-->