<!--INICIO DO CONTEUDO-->
<section class="content-header">
  </section>
  
  <section class="content">
    <section class="invoice">
          <ol class="breadcrumb">
            <li><a [routerLink]="['/']">SDO - Home</a></li>
            <li>Funcionário</li>
          </ol>
          <form #form="ngForm" novalidate>
            <div class="row">
              <div class="col-xs-12">
                <h2 class="page-header">
                  <i class="glyphicon glyphicon-user"></i> Cadastrar Funcionário
                </h2>
              </div>
            </div>                
  
            <div class="row invoice-info">
              <div class="col-xs-12">
                <p class="lead">Informações Gerais:</p>
              </div>
              <div class="col-sm-3 col-xs-6">
                <label>Matrícula:</label>
                <mt-input-container errorMessage="Campo obrigatório, somente numeros" label="Matricula">
                  <input class="form-control" name="matricula" pattern="^[0-9]*$" maxlength="4" ngModel required placeholder="Matrícula" autocomplete="off">
                </mt-input-container>
              </div>
              <div class="col-sm-3 col-xs-6">
                <label>Nome:</label>
                <mt-input-container errorMessage="Campo obrigatório" label="Nome">
                  <input type="text" class="form-control" name="nome" required ngModel placeholder="Nome" autocomplete="off">
                </mt-input-container>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <label>Setor:</label>
                  <mt-input-container errorMessage="Campo obrigatório" label="Setor">
                      <select type="text" class="form-control" name="setor" required ngModel placeholder="Setor">
                        <option>Compras</option>
                        <option>Financeiro</option>
                        <option>DP</option>
                        <option>Operacional</option>
                      </select>
                  </mt-input-container>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <label>Salário:</label>
                  <mt-input-container errorMessage="Campo obrigatório" label="Salario">
                      <input type="text" class="form-control" name="salario" required ngModel placeholder="Salário">
                  </mt-input-container>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <label>Data Admissão:</label>
                  <mt-input-container errorMessage="Campo obrigatório" label="DataAdmissao">
                      <input type="date" class="form-control" name="dataAdmissao" required ngModel placeholder="Data Admissão">
                  </mt-input-container>
              </div>
              <div class="col-sm-3 col-xs-6">
                  <label>Data Demissão:</label>                  
                    <input type="date" class="form-control" name="dataDemissao" required ngModel placeholder="Data Demissão">
              </div>
             
              <!-- /.col -->
            </div>
            <!-- /.row -->
  
            <!-- Table row 
            <div class="row">
              <div class="col-xs-12">
                <p class="lead">Itens do Pedido:</p>
              </div>
              
            </div>-->
            
            <!-- /.row -->
  
            <div class="row">
              <!-- accepted payments column -->
              <div class="col-sm-6 col-xs-12">
                <!--p class="lead">Formas de Pagamento:</p-->
  
                  <div class="form-group">
                    
                  </div>
  
              </div>
              <!-- /.col -->
              <div class="col-sm-6 col-xs-12">
                <!-- Se precisar implementar component colocar aqui -->
              </div>
              <!-- /.col -->
            </div>
  
          </form>
  
          <div class="row">
            <div class="pull-right">
              <button (click)="form.reset()" type="button" class="btn btn-danger">
                <i class="fa fa-trash"></i> Limpar</button>
              <button (click)="checkOrder(form.value)" class="btn btn-success">
                <i class="glyphicon glyphicon-save"></i> Cadastrar
              </button>
            </div>
          </div>
  
      </section>
  </section>
  <!-- FIM DO CONTEUDO-->